<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.FurnitureaccessoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tencent.wxcloudrun.entity.Furnitureaccessory">
        <id column="FAId" property="FAId" />
        <result column="FAName" property="FAName" />
        <result column="FAImage" property="FAImage" />
        <result column="FATId" property="FATId" />
        <result column="FAFId" property="FAFId" />
        <result column="FASize" property="FASize" />
        <result column="IsPublic" property="IsPublic" />
        <result column="BedSize" property="BedSize" />
        <result column="FAStockPrice" property="FAStockPrice" />
        <result column="FAPrice" property="FAPrice" />
        <result column="FAStock" property="FAStock" />
        <result column="FARemark" property="FARemark" />
        <result column="CreateTime" property="CreateTime" />
        <result column="CreateUser" property="CreateUser" />
        <result column="UpdateTime" property="UpdateTime" />
        <result column="UpdateUser" property="UpdateUser" />
        <result column="IsDeleted" property="IsDeleted" />
    </resultMap>

    <select id="queryByFurnitureIds" resultType="com.tencent.wxcloudrun.vo.FurnitureAccessoryVO">
        <if test="ids != null and ids.size() > 0">
            SELECT *
            FROM FurnitureAccessory fa
            WHERE fa.FAId IN
            <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
            UNION
        </if>

        SELECT *
        FROM FurnitureAccessory pfa
        WHERE pfa.IsPublic = 1 and pfa.IsDeleted = 0

    </select>
</mapper>
