<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.FurniturepromotionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tencent.wxcloudrun.entity.Furniturepromotion">
        <id column="FPId" property="FPId" />
        <result column="FPType" property="FPType" />
        <result column="FPContent" property="FPContent" />
        <result column="FPContentIds" property="FPContentIds" />
        <result column="FPStartTime" property="FPStartTime" />
        <result column="FPEndTime" property="FPEndTime" />
        <result column="FPRemark" property="FPRemark" />
        <result column="CreateTime" property="CreateTime" />
        <result column="CreateUser" property="CreateUser" />
        <result column="UpdateTime" property="UpdateTime" />
        <result column="UpdateUser" property="UpdateUser" />
        <result column="IsDeleted" property="IsDeleted" />
    </resultMap>
</mapper>
